[flake8]
exclude =
    .git,
    .history,
    .venv,
    .pytest_cache,
    .pytest-run,
    .ruff_cache,
    .tmp,
    __pycache__,
    build,
    dist,
    docs/.vitepress,
    node_modules,
    *.egg-info
